@model EClerx.MVC.Day26.ViewModels.ProductAndCustomerVM

@{
    ViewBag.Title = "Home Page";
}

<ul>
    <li><b>Customer Name :</b>@Model.Name</li>
    <li><b>DOB :</b>@Model.DateOfBirth</li>
    <li><b>Product Name :</b>@Model.Product.ProductName</li>
    <li><b>Price :</b>@Model.Product.Price</li>
    <li><b>Quantity :</b>@Model.Product.Quantity</li>
    <li><b>Created Date :</b>@Model.Product.CreatedDate</li>
</ul>