@model IEnumerable<EClerx.MVC.Day26.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            @Html.ActionLink("Add New Product", "Create", "Products")
            <h2>Product Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Action(s)</th>
                </tr>
                @foreach (var prd in Model)
                {
                    <tr>
                        <td>@prd.Id</td>
                        <td>@Html.ActionLink(prd.ProductName, "Details", "Products", new { id = prd.Id }, null) </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Products", new { id = prd.Id }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Delete", "Delete", "Products", new { id = prd.Id }, new { @class = "btn btn-warning" })
                    </td>
                </tr>
            }

            </table>
        </div>
    </div>
</div>

